@switch (matType) {
  @case ('mat-flat-button') {
    <button mat-flat-button [disabled]="isDisabled" [class]="[class, 'btn']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </button>
  }
  @case ('mat-raised-button') {
    <button mat-raised-button [disabled]="isDisabled" [class]="[class, 'btn']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </button>
  }
  @case ('mat-mini-fab') {
    <button mat-mini-fab [disabled]="isDisabled" [class]="[class, 'btn']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </button>
  }
  @case ('mat-fab') {
    <button mat-fab [disabled]="isDisabled" [class]="[class, 'btn']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </button>
  }
  @default {
    <button [disabled]="isDisabled" [class]="[class, 'btn']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </button>
  }
}

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
