:host {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--blue-1000);
  border-radius: var(--small-br);

  transition:
    box-shadow 0.2s,
    scale 0.2s,
    opacity 0.2s;

  &:active {
    scale: 0.95;
    opacity: 0.8;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: var(--blue-shadow-1000);
    }
  }
}

.btn {
  font: var(--small-font);
  color: var(--white-100);
  letter-spacing: var(--one);
}
