:host {
  display: contents;
}

.btn {
  height: unset;
  border-radius: var(--small-br);
  transition:
    background-color 0.2s,
    color 0.2s;
}

.mat-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.material-icons {
  font-size: 1.5rem;
}

.mdc-fab--mini {
  width: 2.5rem;
  height: 2.5rem;
}

.mat-mdc-unelevated-button.search {
  border-radius: 0 var(--small-br) var(--small-br) 0;
}

.sorting {
  padding: 0.5rem 1rem;
  font: var(--small-font);
  color: var(--white-100);
  letter-spacing: var(--one);
}

.login {
  padding: 0.5rem calc(var(--small-offset) * 1.2);
  box-shadow: 0.125rem 0 0.25rem 0 var(--blue-1000);

  &:disabled {
    box-shadow: unset;
  }
}
