.top,
.bottom {
  position: fixed;

  display: flex;
  gap: var(--tiny-offset);
  align-items: center;

  width: 100%;
  padding: var(--tiny-offset) var(--small-offset);

  background-color: var(--white-300);
}

.top {
  z-index: 5;
}

.bottom {
  z-index: 4;
  top: 4.2rem;
  gap: var(--extra-small-offset);
  padding-top: 0;
}

.userLogin {
  margin-left: auto;
  font: var(--small-font);
  color: var(--gray-200);
  letter-spacing: var(--one);
}

.account {
  margin-left: auto;
}
