<div class="container">
  <div class="top">
    <app-custom-link
      class="logo"
      [matType]="'mat-flat-button'"
      [icon]="'play_arrow'"
      [root]="'/main'"
    ></app-custom-link>
    <app-video-searching></app-video-searching>
    <app-custom-button
      class="settings"
      [matType]="'mat-mini-fab'"
      [icon]="'tune'"
      (click)="isSettingsVisible.set(!isSettingsVisible())"
    ></app-custom-button>
    @if (isLogin$()) {
      <span class="userLogin">{{ loginService.getUserLogin() | titlecase }}</span>
      <app-custom-button
        class="account"
        [matType]="'mat-mini-fab'"
        [icon]="'exit_to_app'"
        (click)="loginService.logout()"
      ></app-custom-button>
      <app-custom-link [root]="'/admin'" [matType]="'mat-mini-fab'" [icon]="'account_circle'"></app-custom-link>
    } @else {
      <app-custom-link [root]="'/login'" class="account" [matType]="'mat-mini-fab'" [icon]="'input'"></app-custom-link>
    }
  </div>
  <div class="bottom" [class.hidden]="isSettingsVisible()">
    <app-video-sorting></app-video-sorting>
    <app-video-filtering></app-video-filtering>
  </div>
</div>
