@switch (matType) {
  @case (matAttrubute.FLAT_BUTTON) {
    <a mat-flat-button [routerLink]="root" [class]="[class, 'link']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </a>
  }

  @case (matAttrubute.RAISED_BUTTON) {
    <a mat-raised-button [routerLink]="root" [class]="[class, 'link']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </a>
  }
  @case (matAttrubute.MINI_FAB) {
    <a mat-mini-fab [routerLink]="root" [class]="[class, 'link']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </a>
  }
  @case (matAttrubute.FAB) {
    <a mat-fab [routerLink]="root" extended [class]="[class, 'link']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }

      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </a>
  }
  @default {
    <a [routerLink]="root" [class]="[class, 'link']">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }

      <ng-container [ngTemplateOutlet]="content"></ng-container>
    </a>
  }
}

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
