.card {
  position: relative;

  display: flex;
  align-items: stretch;

  width: 90%;
  margin: 0 auto;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51%;
}

.img {
  width: 100%;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 49%;
  height: auto;
  padding: var(--extra-small-offset);

  background-color: var(--white-300);
  border-bottom: var(--tiny-offset) solid transparent;
  border-top-right-radius: var(--medium-br);
  border-bottom-right-radius: var(--medium-br);
  box-shadow: var(--gray-shadow-1000);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--extra-small-offset);
}

.title {
  font: var(--extra-medium-font);
  color: var(--gray-200);
  letter-spacing: var(--one);
}

.date,
.description {
  font: var(--small-font);
  color: var(--gray-100);
  letter-spacing: var(--one);
}

.description {
  margin-bottom: var(--extra-small-offset);
}

.descriptiption-accent {
  font: var(--regular-font);
  color: var(--gray-200);
  letter-spacing: var(--one);
}

.statistics {
  display: flex;
  gap: var(--extra-small-offset);
  align-items: center;
  justify-content: center;

  margin-top: auto;
}

.statistics-item {
  display: flex;
  gap: var(--tiny-offset);
  align-items: center;
}
