@if (video) {
  <div class="card">
    <app-custom-link
      class="goToBack"
      [matType]="matAttribute.FLAT_BUTTON"
      [root]="'/main'"
      [icon]="'arrow_back'"
      [publishedAt]="video.snippet.publishedAt"
      appChangeColorByDate
      publishedAt="{{ video.snippet.publishedAt }}"
      [propertyNames]="['backgroundColor']"
    >
    </app-custom-link>
    <div class="left">
      @if (isImageLoading()) {
        <app-custom-loader></app-custom-loader>
      }

      <img
        class="img"
        [src]="video.snippet.thumbnails.high.url"
        [class.hidden]="isImageLoading()"
        [alt]="video.snippet.title"
        (load)="isImageLoading.set(false)"
      />
    </div>
    <div
      class="right"
      appChangeColorByDate
      publishedAt="{{ video.snippet.publishedAt }}"
      [propertyNames]="['borderColor']"
    >
      <div class="top">
        <h1 class="title">{{ video.snippet.title }}</h1>
        <span class="date">{{ video.snippet.publishedAt | date: 'EEEE, MMMM d, y' }}</span>
      </div>
      <span class="descriptiption-accent">Description:</span>
      <p class="description">{{ video.snippet.description }}</p>
      <ul class="statistics">
        <app-video-statistics [icon]="'visibility'" [count]="video.statistics.viewCount"></app-video-statistics>
        <app-video-statistics [icon]="'thumb_up'" [count]="video.statistics.likeCount"></app-video-statistics>
        <app-video-statistics [icon]="'comment'" [count]="video.statistics.commentCount"></app-video-statistics>
      </ul>
    </div>
  </div>
} @else {
  <app-custom-loader></app-custom-loader>
}
