.title {
  margin-bottom: var(--medium-offset);
  font: var(--medium-font);
  color: var(--gray-200);
  letter-spacing: var(--one);
}

.form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 30rem;
  padding: var(--small-offset);

  background-color: var(--white-400);
  border-radius: var(--small-br);
}

.mat-mdc-form-field {
  width: 25rem;
}

.error {
  margin-bottom: var(--tiny-offset);
  font-size: 1rem;
  color: red;
}
