<form class="form" [formGroup]="loginForm" (ngSubmit)="submit()">
  <h1 class="title">Login</h1>
  <mat-form-field>
    <mat-label>Login</mat-label>
    <input class="input" matInput formControlName="login" placeholder="John Doe" autocomplete="off" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      class="input"
      type="password"
      matInput
      formControlName="password"
      placeholder="Password"
      autocomplete="off"
    />
  </mat-form-field>
  <app-custom-button class="login" [matType]="'mat-flat-button'" type="submit" [isDisabled]="!loginForm.valid">
    <span flat-content>Login</span>
  </app-custom-button>
</form>
