<form class="form" [formGroup]="loginForm" (ngSubmit)="submit()">
  <h1 class="title">Login</h1>
  <mat-form-field appearance="outline">
    <mat-label>Login</mat-label>
    <input
      class="input"
      matInput
      type="email"
      formControlName="login"
      placeholder="user@example.com"
      autocomplete="off"
      name="login"
    />
  </mat-form-field>
  @if (loginForm.controls.login; as login) {
    <ng-container *ngIf="login.invalid && login.dirty">
      <span class="error" *ngIf="login.hasError('required')">Please enter a login email</span>
      <span class="error" *ngIf="login.hasError('email')">The login email is invalid</span>
    </ng-container>
  }
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      class="input"
      type="password"
      matInput
      formControlName="password"
      placeholder="********"
      autocomplete="off"
    />
  </mat-form-field>
  @if (loginForm.controls.password; as password) {
    <ng-container *ngIf="password.invalid && password.dirty">
      <span class="error" *ngIf="password.hasError('required')">Please enter a password</span>
      <span class="error" *ngIf="password.hasError('hasUpperCase')"
        >Your password must contain at least one uppercase letter</span
      >
      <span class="error" *ngIf="password.hasError('hasLowerCase')"
        >Your password must contain at least one lowercase letter</span
      >
      <span class="error" *ngIf="password.hasError('hasNumeric')">Your password must contain at least one digit</span>
      <span class="error" *ngIf="password.hasError('hasSpecialCharacter')"
        >Your password must contain at least one special character</span
      >
    </ng-container>
  }
  <app-custom-button class="login" [matType]="matAttribute.FLAT_BUTTON" type="submit" [isDisabled]="!loginForm.valid">
    <span>Login</span>
  </app-custom-button>
</form>
