* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

html {
  font-size: clamp(12px, 1.1vw, 50px);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 var(--small-offset);
}

.hidden {
  position: fixed;
  scale: 0;
}
