<mat-stepper orientation="vertical" linear="Enable linear mode" #stepper>
  <mat-step [stepControl]="form.controls.title">
    <form [formGroup]="form">
      <ng-template matStepLabel>Add title</ng-template>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title" />
      </mat-form-field>
      <div class="errors-wrapper">
        @if (form.controls.title; as title) {
          <span class="error" *ngIf="title.hasError('required')">Please enter a title</span>
          <span class="error" *ngIf="title.hasError('minlength')">The title is too short</span>
          <span class="error" *ngIf="title.hasError('maxlength')">The title is too long</span>
        }
      </div>
      <div>
        <button mat-flat-button matStepperNext [disabled]="!form.controls.title.valid">
          Next <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form.controls.description">
    <form [formGroup]="form">
      <ng-template matStepLabel>Add description</ng-template>
      <mat-form-field appearance="outline" class="form-field" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea class="textarea" matInput placeholder="Description" formControlName="description" rows="5"></textarea>
      </mat-form-field>
      <div class="errors-wrapper">
        @if (form.controls.description; as description) {
          <span class="error" *ngIf="description.hasError('maxlength')">The description is too long</span>
        }
      </div>
      <div class="buttons-wrapper">
        <button mat-flat-button matStepperPrevious>Back <mat-icon>chevron_left</mat-icon></button>
        <button mat-flat-button matStepperNext [disabled]="!form.controls.description.valid">
          Next <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form.controls.cover">
    <form [formGroup]="form">
      <ng-template matStepLabel>Add video cover</ng-template>
      <mat-form-field appearance="outline" class="form-field" appearance="outline">
        <mat-label>Video cover</mat-label>
        <input matInput placeholder="Cover url" formControlName="cover" />
      </mat-form-field>
      <div class="errors-wrapper">
        @if (form.controls.cover; as cover) {
          <span class="error" *ngIf="cover.hasError('required')">Please enter a link to the cover</span>
        }
      </div>
      <div class="buttons-wrapper">
        <button mat-flat-button matStepperPrevious>Back <mat-icon>chevron_left</mat-icon></button>
        <button mat-flat-button matStepperNext [disabled]="!form.controls.cover.valid">
          Next <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form.controls.video">
    <form [formGroup]="form">
      <ng-template matStepLabel>Add video</ng-template>
      <mat-form-field appearance="outline" class="form-field" appearance="outline">
        <mat-label>Video</mat-label>
        <input matInput placeholder="Video link" formControlName="video" />
      </mat-form-field>
      <div class="errors-wrapper">
        @if (form.controls.video; as video) {
          <span class="error" *ngIf="video.hasError('required')">Please enter a link to the video</span>
        }
      </div>
      <div class="buttons-wrapper">
        <button mat-flat-button matStepperPrevious>Back <mat-icon>chevron_left</mat-icon></button>
        <button mat-flat-button matStepperNext [disabled]="!form.controls.video.valid">
          Next<mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form.controls.publishedAt">
    <form [formGroup]="form">
      <ng-template matStepLabel>Add date</ng-template>
      <mat-form-field appearance="outline" class="form-field" appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="publishedAt" [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="errors-wrapper">
        @if (form.controls.publishedAt; as publishedAt) {
          <span class="error" *ngIf="publishedAt.hasError('required')">Please enter a creation date</span>
          <span class="error" *ngIf="publishedAt.hasError('isValidDate')">Please enter a valid date</span>
          <span class="error" *ngIf="publishedAt.hasError('invalidDateByFilter')"
            >You can't pick a date from the future</span
          >
        }
      </div>
      <div class="buttons-wrapper">
        <button mat-flat-button matStepperPrevious>Back <mat-icon>chevron_left</mat-icon></button>
        <button mat-flat-button matStepperNext [disabled]="!form.controls.publishedAt.valid">
          Next <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form.controls.tags">
    <form [formGroup]="form">
      <ng-container formArrayName="tags">
        <ng-template matStepLabel>Add tags</ng-template>
        <div>
          @for (tagForm of form.controls.tags.controls; track tagForm; let i = $index) {
            <div [formGroup]="tagForm">
              <div class="tag-wrapper">
                <mat-form-field appearance="outline" class="form-field" appearance="outline">
                  <mat-label>New tag</mat-label>
                  <input matInput placeholder="tag" formControlName="tag" />
                </mat-form-field>
                <button class="remove-tag-btn" mat-mini-fab (click)="form.controls.tags.removeAt(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div class="errors-wrapper">
                <span class="error" *ngIf="tagForm.controls['tag'].hasError('required')">Please enter tag</span>
              </div>
            </div>
          }
        </div>
        <div class="buttons-wrapper">
          <button mat-flat-button matStepperPrevious>Back <mat-icon>chevron_left</mat-icon></button>
          <button mat-flat-button matStepperNext [disabled]="!form.controls.tags.valid">
            Next <mat-icon>chevron_right</mat-icon>
          </button>
          <button
            class="add-tag-btn"
            mat-flat-button
            [disabled]="form.controls.tags.controls.length > 4"
            (click)="addTag()"
          >
            <mat-icon>add_circle</mat-icon>
            <span>Add tag</span>
          </button>
        </div>
      </ng-container>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done!</ng-template>
    <p>Confirm video creation</p>
    <div class="buttons-wrapper">
      <button mat-flat-button matStepperPrevious>Back<mat-icon>chevron_left</mat-icon></button>
      <button class="submit-btn" mat-flat-button (click)="submit()">
        <mat-icon>check_circle</mat-icon> Create Card
      </button>
      <button class="reset-btn" mat-button (click)="stepper.reset()" (click)="reset()">
        <mat-icon>clear</mat-icon>Reset form
      </button>
    </div>
  </mat-step>
</mat-stepper>
