<span class="text">Sorting by:</span>
<app-custom-button
  class="sorting"
  [matType]="matAttribute.RAISED_BUTTON"
  (click)="dataService.setSortBy({ sortBy: 'publishedAt', sortByDirection: publishedAtDirection })"
  (click)="publishedAtDirection = !publishedAtDirection"
>
  <span>date</span>
</app-custom-button>
<app-custom-button
  class="sorting"
  [matType]="matAttribute.RAISED_BUTTON"
  (click)="dataService.setSortBy({ sortBy: 'viewCount', sortByDirection: viewCountDirection })"
  (click)="viewCountDirection = !viewCountDirection"
>
  <span>views</span>
</app-custom-button>
