:host {
  display: contents;
}

.statistics-item {
  display: flex;
  gap: var(--five);
  align-items: center;
  font: var(--small-font);

  @media (width <=600px) {
    font: var(--extra-regular-font);
  }
}
