<div class="container">
  <div class="top">
    <app-custom-link class="logo" [root]="'/'"></app-custom-link>
    <app-video-searching></app-video-searching>
    <app-custom-button
      class="settings"
      [matType]="'mat-mini-fab'"
      [icon]="'tune'"
      (click)="isSettingsVisible = !isSettingsVisible"
    ></app-custom-button>
    <app-custom-button class="account" [matType]="'mat-mini-fab'" [icon]="'account_circle'"></app-custom-button>
  </div>
  <div class="bottom" [ngClass]="{ hidden: isSettingsVisible }">
    <app-video-sorting></app-video-sorting>
    <app-video-filtering></app-video-filtering>
  </div>
</div>
