:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
}

.search-btn {
  display: flex;
  padding: 0.65rem 1rem;
  border-radius: 0 var(--small-br) var(--small-br) 0;
}

.search {
  width: 20rem;
  padding-left: 1rem;

  font: var(--small-font);
  letter-spacing: var(--one);

  background-color: var(--white-200);

  &::placeholder {
    color: var(--gray-100);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
