<div class="video-list-wrapper">
  @if (loadingService.getIsLoading() | async) {
    <app-custom-loader></app-custom-loader>
  }
  @if (dataService.getFilteredData() | async; as videoData) {
    @if (videoData.length) {
      <h1 class="video-list__title">We found {{ videoData.length }} videos</h1>
    }
    <ul class="video-list" [class.hidden]="loadingService.getIsLoading() | async">
      @for (video of videoData; track video.id) {
        <app-video-card [video]="video"></app-video-card>
      }
    </ul>
  }
</div>
